body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
/* input[type=text] {
      width: 50%;
      padding: 10px 15px;
      margin: 10px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
} */

/* Set a style for all buttons */
/* button {	
      background-color: #4CAF50;
      color: white;
      padding: 10px 18px;
      margin: 8px;
      border: none;
      cursor: pointer;
      width: 20%;
} */

button:hover {
      opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
      margin-left:50%;
      position: center;	
      width: 20%;
      padding: 10px 18px;
      background-color: #f44336;
}
.smtbtn{		
      position: center;	
      width: 20%;
      padding: 10px 18px;
}

/* Center the image and position the close button */
.imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
}

img.avatar {
      width: 40%;
      border-radius: 50%;
}

.container {
      padding: 16px;
}

span.psw {
      float: right;
      padding-top: 16px;
}

/* The Modal (background) */
.modal1 {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 5; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      padding-top: 60px;
}

/* Modal Content/Box */
.modal1-content {
      background-color: #fefefe;
      margin: 10% auto 15% 37%; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      padding-bottom: 20px;
      width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close1 {
      margin-left:92%;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
}

.close1:hover,
.close1:focus {
      color: red;
      cursor: pointer;
}

.abc{
      margin-left: 15px;	
}

/* Add Zoom Animation */
.animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)} 
      to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
      from {transform: scale(0)} 
      to {transform: scale(1)}
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
      span.psw {
        display: block;
        float: none;
      }
      .cancelbtn {
        width: 100%;
      }
    .upbtn {
        width: 50%;
        height:20%;
        background-color: white;
      }
}

@media screen and (max-width: 468px) {
	.modal1{
		width: 100%;
    	left: 0;
    	top: 0;
	}
	.modal1-content {
		margin: 20% auto;
    	width: 90%;
	}

	.cancelbtn{
		width: 40%;
    	margin-left: 10%;
	}

	.smtbtn{
		width: 40%;
	}
}