{% extends 'admin_panel/base.html' %} 
{% load static %} 



{% block title %}
    Achievements
{% endblock title %}
    

{% block beforescript %}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Achievements</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Achievements</li>
            </ol>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <!-- <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label class="control-label"> Username </label>
                            <input type="text" id="username" class="form-control w-lg-100 w-xs-50" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label class="control-label d-none">&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <button type="button" id="filter" class="btn d-lg-block mt-lg-4 m-lg-15 m-xs-0"
                                style="background-color: #fe9900">
                                Search
                            </button>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-dark" id="addAchmnt" onclick="signin()"><span><i class="fa fa-plus-circle mx-1"></i></span>Add Achievement</button>
                    </div>
                </div>
                 -->

                <!-- modal of Add Achievement -->
                <div id="id01" class="modal1">
                    <form class="modal1-content animate spades" method="post" id="Form-Create">
                        {% csrf_token %}
                        <div class="card-body">
                            <h3><span class="close1" onclick="hideModal()" title="Close Modal"
                                    style="font-weight: bold;margin-left:97%;">&times;</span></h3>
                            <div class="form-body">
                                <div class="row p-t-15">
                                    <h3 class="card-title"> Add New Admin </h3>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Title </label>
                                            <input type="text" id="title" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Statement </label>
                                            <input type="text" id="statement" class="form-control" required>

                                            <!-- <select id="adminrole" class="form-control" required>
                                                <option value="Admin">Admin</option>
                                                <option value="SubAdmin">SubAdmin</option>
                                            </select> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Total Count </label>
                                            <input type="number" id="count" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Reward </label>
                                            <input type="number" id="reward" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" onclick="hideModal()" class="btn btn-secondary">Cancel</button>
                                    <button id="Submit" type="button" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="w-lg-100 w-xs-100 overflow-auto m-t-40">
                    <table id="achtable" class="table table-responsive-md table-hover text-center"
                        style="width: 100%">
                        <thead>
                            <tr>
                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending" display="none">
                                    Achievements Id
                                </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending" display="none">
                                    Title
                                </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending">
                                    Statement
                                </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending">
                                    Total Count
                                </th>
                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending">
                                    Reward
                                </th>
                                <th>Update</th>
                                <th>Delete</th>

                              
                            </tr>
                        </thead>
                        <tbody>
                            {% for attr in data %}
                            <tr>
                                <td>{{ attr.Achievements_Id }}</td>
                                <td>{{ attr.Title }}</td>
                                <td>{{ attr.Statement }}</td>
                                <td>{{ attr.Total_Count }}</td>
                                <td>{{ attr.Reward }}</td>
                                <td class="text-center align-middle"><button class="btn btn-outline-info" onclick="upModal('{{ attr.Achievements_Id }}','{{ attr.Title }}','{{ attr.Statement }}','{{ attr.Total_Count }}','{{ attr.Reward }}')"><i class="fa fa-pen"></i></button></td>
                        <td class="text-center align-middle"><button class="btn btn-outline-danger" onclick="showModal('{{ attr.Achievements_Id }}', '{{ attr.Title }}' )"><i class="fa fa-trash"></i></button></td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="id02" class="modal1" >
                    <form class="modal1-content animate" method="post" id="Form-Update">
                        {% csrf_token %}
                        <div class="card-body">
                            <h3><span class="close1" onclick="hideModal()" title="Close Modal"
                                    style="font-weight: bold;margin-left:97%;">&times;</span></h3>
                            <div class="form-body">
                                <div class="row p-t-15">
                                    <h3 class="card-title"> Update Achievement </h3>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Title </label>
                                            <input type="text" id="title1" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Statement </label>
                                            <input type="text" id="statement1" class="form-control" required>

                                            <!-- <select id="adminrole" class="form-control" required>
                                                <option value="Admin">Admin</option>
                                                <option value="SubAdmin">SubAdmin</option>
                                            </select> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Total Count </label>
                                            <input type="number" id="count1" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Reward </label>
                                            <input type="number" id="reward1" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" onclick="hideModal()" class="btn btn-secondary" >Cancel</button>
                                    <button id="Submit1" type="button" class="btn btn-success"
                                        style="background-color: #4CAF50;">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="id03" class="modal1">
                    <form class="modal1-content animate" method="post" id="Form-Delete">
                        <span class="close1" onclick="hideModal()" title="Close Modal">×</span>
                        <h3 class="abc"><b>Delete Admin</b></h3>
                        <div class="container">
                            <p>Are you sure you want to delete this achievement </p>
                        </div>
                        <div>
                            <button type="button" onclick="hideModal()" class="btn btn-secondary mx-2">No</button>
                            <button id="DeleteBtn" type="button" class="btn btn-success" >Yes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock beforescript %}


{% block script %}
<script>
    var modal2 = document.getElementById('id02');
    var modal1 = document.getElementById('id01');
    var modal3 = document.getElementById('id03');

    $(document).ready(function () {
        $('#achtable').DataTable();
    });
    
    window.onclick = function (event) {
        
        if (event.target == modal1) {
            modal1.style.display = "none";
        }
        if (event.target == modal2) {
            modal2.style.display = "none";
        }
        if (event.target == modal3) {
            modal3.style.display = "none";
        }
       
    }

    function signin() {
        document.getElementById('id01').style.display = 'block';

        $("#Submit").click(function () {
            var title = $('#title').val();
            var statement = $('#statement').val();
            var count = $('#count').val();
            const token = '{{request.session.username.Token}}'
            var reward = $('#reward').val();


            var dataobjects = {
                "title":title, "statement":statement, "total_count":count, "reward":reward
            }
            var dataa = JSON.stringify(dataobjects);

            if (title != "" && statement != "" && count != "" && reward != "") {
                $.ajax({
                    url: "{% url 'achievement' %}",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: dataa,
                    headers: {
                        "Authorization": "Bearer " + token,
                        "X-CSRFToken": '{{csrf_token}}'
                    },
                    success: function (result) {
                        alert("Admin Created Successfully");
                        document.getElementById('id01').style.display = 'none';
                        location.reload();
                    },
                    error: function (xhr) {
                        console.log(JSON.parse(xhr.statusText))
                        let err = JSON.parse(xhr.statusText).error;

                        if (xhr.status == 401) {
                            window.location.href = "{% url 'logout' %}";
                        }
                        if(Array.isArray(err) ){
                            alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                        }else{
                            alert(err)

                        }
                    }
                });
            } else {
                alert("Please Fill The Empty Fields");
            }
        });
    }

    function upModal() {
        var id = arguments[0];
        var title = arguments[1];
        var statement = arguments[2];
        var count = arguments[3];
        var reward = arguments[4];
        document.getElementById('id02').style.display = 'block';

        document.getElementById("title1").value = title;
        document.getElementById("statement1").value = statement;
        document.getElementById("count1").value = count;
        document.getElementById("reward1").value = reward;

        $("#Submit1").click(function () {
            title = $('#title1').val();
            statement = $('#statement1').val();
            count = $('#count1').val();
            reward = $('#reward1').val();
            console.log("Button Clicked of id02")


            var dataobjects = {
                "achievements_id":id,"title":title, "statement":statement, "total_count":count, "reward":reward
            }
            console.log(dataobjects)
            var dataa = JSON.stringify(dataobjects);
            console.log(dataa)
            console.log("before ajax")
            if (title != "" && statement != "" && count != "" && reward != "") {
                $.ajax({
                    url: '{% url "updateach" %}',
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: dataa,
                    headers: {
                        "X-CSRFToken": '{{csrf_token}}',
                       
                    },
                    success: function (result) {
                        alert("Achievement Updated Successfully");
                        document.getElementById('id02').style.display = 'none';
                        location.reload();
                    },
                    error: function (xhr) {
                        let err = JSON.parse(xhr.statusText).error;

                        if (xhr.status == 401) {
                            window.location.href = "{% url 'logout' %}";
                        }
                        if(Array.isArray(err) ){
                            alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                        }else{
                            alert(err)

                        }

                    }
                });
            } else {
                alert("Please Fill The Empty Fields");
            }
        });
    }
    
    function showModal() {
        var id = arguments[0];
        var name = arguments[1];
       // var role = arguments[2];
       document.getElementById('id03').style.display = 'block';
        $('p').append(' :<b> <span id="add_here">' + name + '</span> with Id ('+id+') ?</b>');
        $("#DeleteBtn").click(function () {
            console.log(id)
            var jsonObjects = {
                "achievements_id": id
            }
            var dataa = JSON.stringify(jsonObjects);
    
            $.ajax({
                url: '{% url "deleteach" %}',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                headers: {
                    /*"Authorization": "Bearer " + token*/
                    "X-CSRFToken": '{{csrf_token}}'
                },
                dataType: 'json',
                data: dataa,
                success: function (data, textStatus, xhr) {
                    alert("Achievement Deleted Successfully");
                    document.getElementById('id03').style.display = 'none';
                    location.reload();
                },
                error: function (xhr) {
                    console.log(JSON.parse(xhr.statusText))
                        
                    let err = JSON.parse(xhr.statusText).error;

                    if (xhr.status == 401) {
                        window.location.href = "{% url 'logout' %}";
                    }
                    if(Array.isArray(err)){
                        alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                    }else{
                        alert(err)

                    }

                }
            });
        });
    }
    function hideModal() {
        document.getElementById('id01').style.display = 'none';
        document.getElementById('id02').style.display = 'none';
        document.getElementById('id03').style.display = 'none';
        location.reload();
    }
</script>
{% endblock script %}
    