{% extends 'admin_panel/base.html' %}
{% load static %}


{% block styles %}
<style>
    .modal1{
        background: rgba(0,0,0,0.8)
    }
    .animate{
        border-radius: 30px !important;
       /* background: rgba(0,0,0,0.7); */
    }
    .btn-danger{
        background-color: #f55464 !important;
    }
</style>
{% endblock styles %}


{% block title %}
    Admin:
    {% if banned %}
        Banned Admins
    {% endif %}
        
{% endblock title %}
    

{% block beforescript %}


<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Admin</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                
                {% if banned %}
                <li class="breadcrumb-item"><a href="{% url 'admins' %}">Admin</a></li>
                <li class="breadcrumb-item active">Banned Admin</li>
                
                {% else %}
                
                <li class="breadcrumb-item active">Admin</li>
                {% endif %}
                    
            </ol>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                
                {% if not banned  %}
                <a href="{% url 'banned_admins' %}" class="btn btn-danger float-right btn-info mx-2">
                   Banned Admins >>
                </a>
                <button id="adduser" type="button" class="btn btn-dark float-right btn-info" onclick="signin();">
                    <i class="fa fa-plus-circle"></i>&nbsp; Add New Admin
                </button>
                
                {% comment %}
                <button id="adduser" type="button" class="btn btn-dark float-right btn-info" onclick="signin();">
                    <i class="fa fa-plus-circle"></i>&nbsp; Add New Admin
                </button>
                {% else %}
                    
                {% endcomment %}
                    
                {% endif %}
                
                <!-- ========================================================================== -->
                <!-- ================== Popup Window Create ==================-->
                <!-- ========================================================================== -->
                <div id="id01" class="modal1">
                    <form class="modal1-content animate spades" method="post" id="Form-Create">
                        {% csrf_token %}
                        <div class="card-body">
                            <h3><span class="close1" onclick="hideModal()" title="Close Modal"
                                    style="font-weight: bold;margin-left:97%;">&times;</span></h3>
                            <div class="form-body">
                                <div class="row p-t-15">
                                    <h3 class="card-title"> Add New Admin </h3>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Name </label>
                                            <input type="text" id="adminname" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Role </label>
                                            <select id="adminrole" class="form-control" required>
                                                <option value="Admin">Admin</option>
                                                <option value="SubAdmin">SubAdmin</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Password </label>
                                            <input type="password" id="password" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Confirm Password </label>
                                            <input type="password" id="confirmpassword" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" onclick="hideModal()" class="btn btn-secondary">Cancel</button>
                                    <button id="Submit" type="button" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- ========================================================================== -->
                <!-- ================== Table ==================-->
                <!-- ========================================================================== -->
                <div class="table-responsive m-t-40">
                    <table id="admintable" class="table table-responsive-md table-hover text-center">
                        <thead class="text-center">
                            <tr>
                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending" display="none"> Id </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending" display="none"> Name </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending"> Roles </th>
                                
                                
                                {% if request.session.username.Admin_Roles == 'Admin' %}
                                    
                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending"> Update </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending">Active/Deactive</th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    aria-sort="descending"> Delete </th>
                                {% endif %}
                                    
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% if banned %}
                            {% for admin in banned %}
                            <tr>
                                <td class="text-center align-middle">{{admin.Admin_Id}}</td>
                                <td class="text-center align-middle">{{admin.Admin_Name}}</td>
                                <td class="text-center align-middle">{{admin.Admin_Roles}}</td>
                                {% if request.session.username.Admin_Roles == 'Admin' %}
                                
                                <td class="text-center align-middle"><button class="btn btn-outline-info" id={{admin.Admin_Id}} onclick="upModal('{{admin.Admin_Id}}','{{admin.Admin_Name}}','{{admin.Admin_Roles}}', '{{admin.IsActive}}')"><span><i class="fa fa-pen" ></i></span></button></td>
                                <td class="text-center align-middle"><button class="btn btn-outline-warning" onclick="actdeactModal('{{admin.Admin_Id}}','{{admin.Admin_Name}}','{{admin.Admin_Roles}}' , 'activate')"><span><i class="fa fa-toggle-on"></i></span></button></td>
                                <td class="text-center align-middle"><button class="btn btn-outline-danger" onclick="showModal('{{admin.Admin_Id}}','{{admin.Admin_Name}}','{{admin.Admin_Roles}}')"><span><i class="fa fa-trash"></i></span></button></td>
                                {% endif %}

                            </tr>
                            {% endfor %}
                            
                            {% else %}
                            
                            {% for admin in admin_data %}
                            <tr>
                                <td class="text-center align-middle">{{admin.Admin_Id}}</td>
                                <td class="text-center align-middle">{{admin.Admin_Name}}</td>
                                <td class="text-center align-middle">{{admin.Admin_Roles}}</td>
                                {% if request.session.username.Admin_Roles == 'Admin' %}
                                    
                                    {% if admin.Admin_Name == 'RootAdmin' and request.session.username.Admin_Name != 'RootAdmin' %}
                                    
                                    <td class="text-center align-middle">-</td>
                                    <td class="text-center align-middle">-</td>
                                    <td class="text-center align-middle">-</td>
                                    {% else %}
                                    
                                        {% if admin.Admin_Name == request.session.username.Admin_Name  %}
                                            <td class="text-center align-middle"><button class="btn btn-outline-info" id={{admin.Admin_Id}} onclick="upModal('{{admin.Admin_Id}}','{{admin.Admin_Name}}','{{admin.Admin_Roles}}', '{{admin.IsActive}}')"><span><i class="fa fa-pen" ></i></span></button></td>
                                            <td class="text-center align-middle">-</td>
                                            <td class="text-center align-middle">-</td>
                                        {% else %}
                                            <td class="text-center align-middle"><button class="btn btn-outline-info" id={{admin.Admin_Id}} onclick="upModal('{{admin.Admin_Id}}','{{admin.Admin_Name}}','{{admin.Admin_Roles}}', '{{admin.IsActive}}')"><span><i class="fa fa-pen" ></i></span></button></td>
                                            <td class="text-center align-middle"><button class="btn btn-outline-warning" onclick="actdeactModal('{{admin.Admin_Id}}','{{admin.Admin_Name}}','{{admin.Admin_Roles}}', 'deactivate')"><span><i class="fa fa-toggle-off"></i></span></button></td>
                                            <td class="text-center align-middle"><button class="btn btn-outline-danger" onclick="showModal('{{admin.Admin_Id}}','{{admin.Admin_Name}}','{{admin.Admin_Roles}}')"><span><i class="fa fa-trash"></i></span></button></td>
                                        {% endif %}
                                    {% endif %}
                                        
                                {% endif %}

                            </tr>
                                
                            {% endfor %}    
                            {% endif %}
                                

                        </tbody>
                    </table>

                </div>
                <div id="id02" class="modal1" >
                    <form class="modal1-content animate" method="post" id="Form-Update">
                        {% csrf_token %}
                        <div class="card-body">
                            <h3><span class="close1" onclick="hideModal()" title="Close Modal" style="font-weight: bold;margin-left:97%;">×</span></h3>
                            <div class="form-body">
                                <div class="row p-t-15">
                                    <h3 class="card-title"> Update Admin </h3>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Name </label>
                                            <input type="text" id="adminname1" class="form-control" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="subadd">
                                        <div class="form-group">
                                            <label class="control-label"> Role </label>
                                            <select id="adminrole1" class="form-control" required="">
                                                <option value="Admin">Admin</option>
                                                <option value="SubAdmin">SubAdmin</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Password </label>
                                            <input type="password" id="password1" class="form-control" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Confirm Password </label>
                                            <input type="password" id="confirmpassword1" class="form-control" required="">
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Active? </label>
                                            <select id="isactive1" class="form-control" required>
                                                <option value="True">True</option>
                                                <option value="False">False</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" onclick="hideModal()" class="btn btn-secondary">Cancel</button>
                                    <button id="Submit1" type="button" class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="id03" class="modal1">
                    <form class="modal1-content animate" method="post" id="Form-Delete">
                        <span class="close1" onclick="hideModal()" title="Close Modal">×</span>
                        <h3 class="abc"><b>Delete Admin</b></h3>
                        <div class="container">
                            <p id="dltspan">Are you sure you want to delete this admin/subadmin:=> </p>
                        </div>
                        <div>
                            <button type="button" onclick="hideModal()" class="btn btn-secondary mx-2">No</button>
                            <button id="DeleteBtn" type="button" class="btn btn-success">Yes</button>
                        </div>
                    </form>
                </div>
                <div id="id04" class="modal1">
                    <form class="modal1-content animate" method="post" id="Form-active">
                        <span class="close1" onclick="hideModal()" title="Close Modal">×</span>
                        <h3 class="abc"><b>{% if banned %}Activate{% else %}Deactivate{% endif %} Delete Admin</b></h3>
                        <div class="container">
                            <p id="dltspan1">Are you sure you want to {% if banned %}Activate{% else %}Deactivate{% endif %} this admin/subadmin:=> </p>
                        </div>
                        <div>
                            <button type="button" onclick="hideModal()" class="btn btn-secondary mx-2">No</button>
                            <button id="DeleteBtn1" type="button" class="btn btn-success">Yes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock beforescript %}


{% block script %}

<script>
    var modal1 = document.getElementById('id01');
    var modal3 = document.getElementById('id03');
    var modal2 = document.getElementById('id02');
    var modal4 = document.getElementById('id04');

    $(document).ready(function () {
        $('#admintable').DataTable();
    });

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal2) {
            modal3.style.display = "none";
        }
        if (event.target == modal1) {
            modal1.style.display = "none";
        }
        if (event.target == modal3) {
            modal2.style.display = "none";
        }
        if (event.target == modal3) {
            modal4.style.display = "none";
        }
    }
    /* =========== Delete Data ============ */

    /*$("#DeleteBtn").click(function () {
        console.log(id)
        var jsonObjects = {
            "admin_id": id
        }
        var dataa = JSON.stringify(jsonObjects);

        $.ajax({
            url: '{% url "deleteadmin" %}',
            type: 'DELETE',
            contentType: 'application/json; charset=utf-8',
            headers: {
                *//*"Authorization": "Bearer " + token*/
           /*     "X-CSRFToken": '{{csrf_token}}'
            },
            dataType: 'json',
            data: dataa,
            success: function (data, textStatus, xhr) {
                alert("Admin Delete Successfully");
                document.getElementById('id03').style.display = 'none';
                location.reload();
            },
            error: function (xhr, textStatus, errorThrown) {
                var error = $.parseJSON(xhr.responseText);
                if (xhr.status == 401) {
                    window.location.href = "Login.php";
                }
                alert(error.message);
            }
        });
    });/*

    /* =========== Show Modal ============ */
    function signin() {
        document.getElementById('id01').style.display = 'block';

        $("#Submit").click(function () {
            var adminname = $('#adminname').val();
            var adminrole = $('#adminrole').val();
            var password = $('#password').val();
            const token = '{{request.session.username.Token}}'
            var confirmpassword = $('#confirmpassword').val();

            if ($('#password').val() == " ") {
               return alert("Please Insert Password");
            } else {
                if ($('#password').val() == $('#confirmpassword').val()) {
                    password = $('#password').val();
                } else {
                   return alert("Password Not Match")
                    
                }
            }

            var dataobjects = {
                "admin_name": adminname,
                "admin_role": adminrole,
                "admin_password": password
            }
            var dataa = JSON.stringify(dataobjects);

            if (adminname != "" && adminrole != "" && password != "" && confirmpassword != "") {
                $.ajax({
                    url: "{% url 'admins' %}",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: dataa,
                    headers: {
                        "Authorization": "Bearer " + token,
                        "X-CSRFToken": '{{csrf_token}}'
                    },
                    success: function (result) {
                        alert("Admin Created Successfully");
                        document.getElementById('id01').style.display = 'none';
                        location.reload();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(JSON.parse(xhr.statusText))
                        let err = JSON.parse(xhr.statusText).error;

                        if (xhr.status == 401) {
                            window.location.href = "{% url 'logout' %}";
                        }
                        if(Array.isArray(err) ){
                            alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                        }else{
                            alert(err)

                        }
                    }
                });
            } else {
                alert("Please Fill The Empty Fields");
            }
        });
    }

    function showModal() {
        var id = arguments[0];
        var name = arguments[1];
        var role = arguments[2];
        $('dltspan').append(' : <span id="add_here">' + name + '</span>('+role+') ?');
        document.getElementById('id03').style.display = 'block';
        $("#DeleteBtn").click(function () {
            console.log(id)
            var jsonObjects = {
                "admin_id": id
            }
            var dataa = JSON.stringify(jsonObjects);
    
            $.ajax({
                url: '{% url "deleteadmin" %}',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                headers: {
                    /*"Authorization": "Bearer " + token*/
                    "X-CSRFToken": '{{csrf_token}}'
                },
                dataType: 'json',
                data: dataa,
                success: function (data, textStatus, xhr) {
                    alert("Admin Delete Successfully");
                    document.getElementById('id03').style.display = 'none';
                    location.reload();
                },
                error: function (xhr) {
                    //var error = $.parseJSON(xhr.responseText);
                    console.log(JSON.parse(xhr.statusText))
                        
                    let err = JSON.parse(xhr.statusText).error;

                    if (xhr.status == 401) {
                        window.location.href = "{% url 'logout' %}";
                    }
                    if(Array.isArray(err) ){
                        alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                    }else{
                        alert(err)

                    }
                }
            });
        });
    }

    function actdeactModal() {
        var id = arguments[0];
        var name = arguments[1];
        var role = arguments[2];
        var acd = arguments[3]
        $('#dltspan1').append(' : <span id="add_here">' + name + '</span>( '+ role + ')?');
        document.getElementById('id04').style.display = 'block';
        /* =========== Delete Data ============ */
    
        var is_active = null;
        if (acd == 'deactivate') is_active = 0
        else is_active = 1; 
        var jsonObjects = {
          "admin_id": id,
          "isactive": is_active
        }
        var dataa = JSON.stringify(jsonObjects);
        console.log(dataa)
        $("#DeleteBtn1").click(function () {
          $.ajax({
            url:"{% url 'banned_admins' %}" ,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            headers: {
              // "Authorization": "Bearer " + token
              'X-CSRFToken': '{{csrf_token}}'
            },
            dataType: 'json',
            data: dataa,
            success: function (data, textStatus, xhr) {
              alert("Player modified Successfully");
              document.getElementById('id03').style.display = 'none';
              location.reload();
            },
            error: function (xhr,data) {
               message = JSON.parse(data.statusText).errors
                console.log(message)
                
            
              if (xhr.status == 404) return alert('path not found')
              if (xhr.status == 401) {
                window.location.href = "{% url 'logout' %}";
              }
               alert(message.message);
               location.reload()
            }
          });
        });
      }
    function upModal() {
        var adminid1 = arguments[0];
        var adminname1 = arguments[1];
        var adminrole1 = arguments[2];
        var isactive1 = 'True';
        if (arguments[3] == 0){

            isactive1 = 'False'
        }
        
        console.log(isactive1);
        document.getElementById('id02').style.display = 'block';

        document.getElementById("adminname1").value = adminname1;
        document.getElementById("adminrole1").value = adminrole1;
        document.getElementById("isactive1").value = isactive1;

        $("#Submit1").click(function () {
            adminname1 = $('#adminname1').val();
            adminrole1 = $('#adminrole1').val();
            isactive1 = 1;

            if($('#isactive1').val() == 'False'){
                isactive1 = 0
            }
            
            console.log("IIIIIIISSSSSS AAAAACCCCCCTTTTIIIVE", isactive1)
            console.log("Button Clicked of id02")

            var password1 = $('#password1').val();
            var confirmpassword1 = $('#confirmpassword1').val();

            if ($('#password1').val() == " ") {
               return alert("Please Insert Password");
            } else {
                if ($('#password1').val() == $('#confirmpassword1').val()) {
                    password = $('#password1').val();
                } else {
                   return alert("Password Not Match")
                    
                }
            }

            var dataobjects = {
                "admin_id": adminid1,
                "admin_name": adminname1,
                "admin_role": adminrole1,
                "admin_password": password1,
                "is_active":isactive1
            }
            var dataa = JSON.stringify(dataobjects);
            console.log(dataa)
            console.log("before ajax")
            if (adminname != "" && adminrole != "" && password != "" && confirmpassword != "") {
                $.ajax({
                    url: '{% url "modadmin" %}',
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: dataa,
                    headers: {
                        "X-CSRFToken": '{{csrf_token}}',
                       
                    },
                    success: function (result) {
                        alert("Admin Updated Successfully");
                        document.getElementById('id02').style.display = 'none';
                        location.reload();
                    },
                    error: function (xhr) {
                        console.log(JSON.parse(xhr.statusText))
                        let err = JSON.parse(xhr.statusText).error;

                        if (xhr.status == 401) {
                            window.location.href = "{% url 'logout' %}";
                        }
                        if(Array.isArray(err)){
                            alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                        }else{
                            alert(err)

                        }

                    }
                });
            } else {
                alert("Please Fill The Empty Fields");
            }
        });
    }

    function hideModal() {
        document.getElementById('id01').style.display = 'none';
        document.getElementById('id02').style.display = 'none';
        document.getElementById('id03').style.display = 'none';
        document.getElementById('id04').style.display = 'none';
        location.reload();
    }
</script>

{% endblock script %}