 {% load static %}

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

 <header class="topbar ">
     <!-- ================ CSS CDN ========================== -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

     <!-- ========================================== -->
     <nav class="navbar top-navbar navbar-expand-md navbar-dark success">
         <!-- ============================================================== -->
         <!-- Logo -->
         <!-- ============================================================== -->
         <div class="navbar-header ">
             <a class="navbar-brand" href="{% url 'home' %}">
                 <!-- Logo icon --><b>
                     <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                     <!-- Dark Logo icon -->
                     <img src='{% static "admin_panel/assets/images/ludo_favcn.png" %}' height="36px" width="60px" alt="homepage" class="dark-logo" />
                     <!-- Light Logo icon logo-icon.png -->
                     <img src='{% static "admin_panel/assets/images/ludo_favcn.png" %}' height="30px" width="60px" alt="homepage" class="light-logo" />
                 </b>
                 <!--End Logo icon -->
                 <!-- Logo text --><span>
                     <!-- dark Logo text -->
                     <img src='{% static "admin_panel/assets/images/ludo_.png" %}' width="110px" alt="homepage" class="dark-logo" />
                     <!-- Light Logo text logo-text.png -->
                     <img src='{% static "admin_panel/assets/images/ludo_.png" %}' width="110px"  alt="homepage" class="light-logo" />
                 </span>
             </a>
         </div>
         <!-- ============================================================== -->
         <!-- End Logo -->
         <!-- ============================================================== -->
        

        <div class="navbar-collapse sucbrdr">
                 
             <!-- ============================================================== -->
             <!-- toggle and nav items -->
             <!-- ============================================================== -->
             <ul class="navbar-nav mr-auto">
                 <!-- This is  -->
                 <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu tw"></i></a> </li>
                 <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="fas fa-chevron-left tw"></i></a> </li>
                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-2">
                    <!-- User Profile-->
                    <li style="margin-right:10px">
                        <p id="wcname" style="color:#be8a8a"></p>
                    </li>
                </ul>
                
            
             <h5 class="mx-2">Hello, <b>{{ request.session.username.Admin_Name }}</b><span class="mx-2">({{ request.session.username.Admin_Roles }})</span></h5>
         </div>
     </nav>
 </header>

 <script>
     $(document).ready(function(){
        $(".sidebartoggler").click(function(){
            $(".sidebartoggler i").toggleClass('fas fa-chevron-left');
            $('.sidebartoggler i').toggleClass('fas fa-chevron-right');
        });   
     });
 </script>