{% extends 'admin_panel/base.html' %}



{% block beforescript %}
    
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Leisure Players</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'leisure' %}">Leisure</a></li>
                <li class="breadcrumb-item active">Leisure Players</li>
            </ol>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- ========================================================================== -->
                <!-- ================== Table ==================-->
                <!-- ========================================================================== -->
                <div class="table-responsive m-t-40 overflow-auto">
                    <table id="lptable" class="table table-responsive-md table-sm table-bordered" style="width: 100%;">
                        <thead>
                            <tr>
                              <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                                aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> Lobby Id
                              </th>
              
                              <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                                aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> Lobby Name
                              </th>
              
                              <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                                aria-label="Name: activate to sort column ascending" aria-sort="descending"> Winning Status </th>
              
                              <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                                aria-label="Name: activate to sort column ascending" aria-sort="descending"> Winning Price </th>
              
                              <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                                aria-label="Name: activate to sort column ascending" aria-sort="descending"> Powerups Used </th>
              
                              <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                                aria-label="Name: activate to sort column ascending" aria-sort="descending"> Total Amount Spend </th>
              
                              <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1"
                                aria-label="Name: activate to sort column ascending" aria-sort="descending"> User Name </th>
              

              
                            </tr>
                          </thead>
                        <tbody>
                            {% for lp in lps %}
                            <tr>
                              <td>{{lp.Lobby_Id}}</td>
                              <td>{{lp.Lobby_Name}}</td>
                              <td>{{lp.Winning_Status}}</td>
                              <td>{{lp.Winning_Price}}</td>
                              <td>{{lp.Powerups_used}}</td>
                              <td>{{lp.Total_Amount_Spend}}</td>
                              <td>{{lp.User_Name}}</td>
              
                            </tr>
                            {% endfor %}
              
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock beforescript %}
    

{% block script %}
    <script>
        $(document).ready(()=>{
            $('#lptable').dataTable()
        })
    </script>
<script>
    var webapi = api["api"];
    var leisuresession = window.localStorage.getItem('leisure');
    var ses = jQuery.parseJSON(leisuresession);

    var jsonObjects = {
        "admin_id":id,
        "admin_role":role, 	 
        "lobby_id": ses.lobbyid,
        "lobby_round" : ses.lobbyround
    }
    var dataa = JSON.stringify(jsonObjects);

    $.ajax({
        url: webapi + "leisureplayer",
        type: "POST",
        contentType: 'application/json; charset=utf-8',
        headers: {
            "Authorization": "Bearer " + token
        }, 
        dataType: 'json',
        data: dataa,
        success: function(result) {
            $('#lobbytable').dataTable({
                dom: "lfrtip",
                paging: true,
                headers: {
                    "Authorization": "Bearer " + token
                }, 
                data: result.data,
                columns: [{
                        data: "User_Id"
                    },
                    {
                        data: "User_Name"
                    },
                    {
                        data: null,
                        render: function(data) {
                            if (data.User_Win_Status == 0)
                                return '<span class="label label-table label-danger">Loser</span>';
                            if (data.User_Win_Status == 1)
                                return '<span class="label label-table label-success">Winner</span>';
                        }
                    },
                    {
                        data: "Amount"
                    }
                ],
                select: true,
            });
        },
        error: function(xhr) {
            console.log(JSON.parse(xhr.statusText))
            let err = JSON.parse(xhr.statusText).error;

                        if (xhr.status == 401) {
                            window.location.href = "{% url 'logout' %}";
                        }
                        if(Array.isArray(err) ){
                            alert(JSON.parse(xhr.statusText)['error'].join("\n"))

                        }else{
                            alert(err)

                        }

        }
    });

</script>
{% endblock script %}
        