{% extends 'admin_panel/base.html' %}
{% load static %}


{% block title %}
    Lobbies
{% endblock title %}
    

{% block beforescript %}
    
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Lobbies</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                
                <li class="breadcrumb-item active">Lobbies</li>
            </ol>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- ========================================================================== -->
                <!-- ================== Table ==================-->
                <!-- ========================================================================== -->
                <div class="table-responsive m-t-40 overflow-auto">
                    <table id="lobbytable" class="table table-responsive-md table-hover text-center" style="width: 100%;">
                        <thead>
                            <tr>
                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Id </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> Name </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending">Total Amount </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Buy In </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Commission Amount </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Room Id </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Lobby Status </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Start Time/Date </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> End Time/Date </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Owner </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Variation Name </th>
                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Lobby History </th>
                                
                                


<!--                                                 <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Update </th> -->
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for lobby in lobbies %}

<tr>
    <td>{{lobby.Lobby_Id}}</td>
    <td>{{lobby.Lobby_Name}}</td>
    <td>{{lobby.Lobby_Total_Amount}}</td>
    <td>{{lobby.Lobby_Buy_In}}</td>
    <td>{{lobby.Lobby_Commision_Amount}}</td>
    <td>{{lobby.Room_Id}}</td>
    <td>{{lobby.Lobby_Status}}</td>
    <td>{{lobby.Lobby_Start_Time_Date}}</td>
    <td>{{lobby.Lobby_End_Time_Date}}</td>
    <td>{{lobby.Lobby_Owner}}</td>
    <td>{{lobby.Variation_Name}}</td>
    <td><a href="{% url 'lobbyhistory' lobby.Lobby_Id %}" class="btn btn-outline-dark"><i class="fa fa-external-link-alt"></i></a></td>

</tr>

                                
                            {% endfor %}
                                
                        </tbody>
                    </table>
                </div>

                <!-- ========================================================================== -->
                <!-- ================== Popup Window Update ==================-->
                <!-- ========================================================================== -->
<!--                                 <div id="id02" class="modal1">
                    <form class="modal1-content animate" method="post" id="Form-Update">
                        <div class="card-body">
                            <h3><span class="close1" onclick="hideModal()" title="Close Modal" style="font-weight: bold;margin-left:97%;">&times;</span></h3>
                            <div class="form-body">
                                <div class="row p-t-15">
                                    <h3 class="card-title"> Update Lobby </h3>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label"> Lobby Name </label>
                                            <input type="text" id="lobbyname" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label"> Commission Rate </label>
                                            <input type="number" id="commission" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label"> Total Persons </label>
                                            <input type="number" id="totalpersons" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label"> Boot Amount </label>
                                            <input type="number" id="bootamt" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label"> Min Player Limit </label>
                                            <input type="number" id="minplayrlimit" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label"> Pot Limit </label>
                                            <input type="number" id="potlimit" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label"> Loby Status </label>
                                            <select id="lbystatus" class="form-control" required>
                                                <option value="Live">Live</option>
                                                <option value="Completed">Completed</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p-t-15">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Min Bet </label>
                                            <input type="number" id="minbet" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Max Bet </label>
                                            <input type="number" id="maxbet" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" onclick="hideModal()" class="cancelbtn">Cancel</button>
                                    <button id="Submit1" type="button" class="smtbtn" style="background-color: #4CAF50;">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock beforescript %}

      

{% block script %}
    <script>
        $(document).ready(function(){
            $('#lobbytable').dataTable()
        })
    </script>
<script>
    var webapi = api["api"];
    var lobbysession = window.localStorage.getItem('lobbysession');

    var jsonObjects = {
        "admin_id":id, "admin_role":role,"club_id": lobbysession
    }
    var dataa = JSON.stringify(jsonObjects);

    $.ajax({
        url: webapi + "lobbies",
        type: "POST",
        contentType: 'application/json; charset=utf-8',
        headers: {
            "Authorization": "Bearer " + token
        }, 
        dataType: 'json',
        data: dataa,
        success: function(result) {
            $('#lobbytable').dataTable({
                dom: "lfrtip",
                paging: true,
                headers: {
                    "Authorization": "Bearer " + token
                }, 
                data: result.data,
                columnDefs: [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [1],
                        "orderable": false,
                    },
                ],
                columns: [{
                        data: "Lobby_Id"
                    },
                    {
                        data: null,
                        render: function(data) {
                            return '<img src=' + "imag/detailupdate.png" + ' id=' + data.Lobby_Id + ' height=' + "15px" + '  onclick="LobbyHistory(\'' + data.Lobby_Id + '\')" style="width:' + "15px" + '";>';
                        }
                    },
                    {
                        data: "Lobby_Name"
                    },
                    {
                        data: "Owner_Name"
                    },
                    {
                        data: "Lobby_Commision_Rate"
                    },
                    {
                        data: "Variation"
                    },
                    {
                        data: null,
                        render: function(data) {
                            if (data.Lobby_Status == "Live")
                                return '<span class="label label-table label-danger">Live</span>';
                            if (data.Lobby_Status == "Upcoming")
                                return '<span class="label label-table label-warning">Upcoming</span>';
                            if (data.Lobby_Status == "Completed")
                                return '<span class="label label-table label-success">Completed</span>';
                        }
                    },
                  
                    {
                        data: "Lobby_Total_Persons"
                    },
                   
                    {
                        data: "Lobby_Boot_Amount"
                    },
                    {
                        data: "Lobby_Min_Player_Limit"
                    },
                  
                    {
                        data: "Lobby_Pot_Limit"
                    },
                    {
                        data: "Lobby_Min_Bet"
                    },
                    {
                        data: "Lobby_Max_Bet"
                    }
                    // ,{
                    //     data: null,
                    //     render: function(data) {
                    //         return '<img src=' + "imag/edit.png" + ' id=' + data.Lobby_Id + ' height=' + "15px" + '  onclick="upModal(\'' + data.Lobby_Id + '\' , \'' + data.Lobby_Name + '\', \'' + data.Lobby_Commision_Rate + '\', \'' + data.Lobby_Blinds + '\', \'' + data.Lobby_Total_Persons + '\', \'' + data.Lobby_Action_Time + '\', \'' + data.Lobby_Boot_Amount + '\', \'' + data.Lobby_Auto_Start + '\', \'' + data.Lobby_Min_Player_Limit + '\', \'' + data.Lobby_Auto_Extension + '\', \'' + data.Lobby_Time + '\', \'' + data.Lobby_Pot_Limit + '\', \'' + data.Lobby_Status + '\', \'' + data.Lobby_Min_Bet + '\', \'' + data.Lobby_Max_Bet + '\')" style="width:' + "15px" + '";>';
                    //     }
                    // }
                ],
                select: true,
            });
        },
        error: function(xhr) {
            console.log(JSON.parse(xhr.statusText))
                        
            if (xhr.status == 401) {
                window.location.href = "{% url 'logout' %}";
            }
            alert(JSON.parse(xhr.statusText)['error'])
            location.reload();
        }
    });

    function LobbyHistory() {
        aid = arguments[0];
        var historysession = window.localStorage.setItem('historysession', aid);
        window.location.href = "{% url 'lbstructure' request.session.username.Admin_Id %}";
    }

//         /* =========== Modal ============ */

//         var modal2 = document.getElementById('id02');
//         // When the user clicks anywhere outside of the modal, close it
//         window.onclick = function(event) {
//             if (event.target == modal2) {
//                 modal2.style.display = "none";
//             }
//         }

//         function upModal() {
//             var lobbyid = arguments[0];
//             var lobbyname = arguments[1];
//             var commission = arguments[2];
//             var totalpersons = arguments[4];
//             var bootamt = arguments[6];
//             var minplayrlimit = arguments[8];
//             var potlimit = arguments[11];
//             var lbystatus = arguments[12];
//             var minbet = arguments[13];
//             var maxbet = arguments[14];

//             document.getElementById('id02').style.display = 'block';
//             document.getElementById("lobbyname").value = lobbyname;
//             document.getElementById("commission").value = commission;
//             document.getElementById("totalpersons").value = totalpersons;
//             document.getElementById("bootamt").value = bootamt;
//             document.getElementById("minplayrlimit").value = minplayrlimit;
//             document.getElementById("potlimit").value = potlimit;
//             document.getElementById("lbystatus").value = lbystatus;
//             document.getElementById("minbet").value = minbet;
//             document.getElementById("maxbet").value = maxbet;

//             $("#Submit1").click(function() {
//                 lobbyname = $('#lobbyname').val();
//                 commission = $('#commission').val();
//                 totalpersons = $('#totalpersons').val();
//                 bootamt = $('#bootamt').val();
//                 minplayrlimit = $('#minplayrlimit').val();
//                 potlimit = $('#potlimit').val();
//                 lbystatus = $('#lbystatus').val();
//                 minbet = $('#minbet').val();
//                 maxbet = $('#maxbet').val();

//                 var dataobjects = {
//                     "lobby_id": lobbyid,
//                     "lobby_name": lobbyname,
//                     "lobby_commision_rate": commission,
//                     "lobby_total_persons": totalpersons,
//                     "lobby_boot_amount": bootamt,
//                     "lobby_min_player_limit": minplayrlimit,
//                     "lobby_pot_limit": potlimit,
//                     "lobby_min_bet": minbet,
//                     "lobby_max_bet": maxbet,
//                     "lobby_status": lbystatus
//                 }
            
//                 var dataa = JSON.stringify(dataobjects);
//                 $.ajax({
//                     url: webapi + "lobby",
//                     type: "PUT",
//                     contentType: 'application/json; charset=utf-8',
// 					headers: {
// 						"Authorization": "Bearer " + token
// 					}, 
//                     dataType: 'json',
//                     data: dataa,
// 					headers: {
// 						"Authorization": "Bearer " + token
// 					}, 
//                     success: function(result) {
//                         alert("Lobby Updated Successfully");
//                         document.getElementById('id02').style.display = 'none';
//                         location.reload();
//                     },
//                     error: function(xhr, textStatus, errorThrown) {
//                         var error = $.parseJSON(xhr.responseText);
//                         if (xhr.status == 401) {
//                             window.location.href = "logout.php";
//                         }
//                     }
//                 });
//             });
//         }

//         function hideModal() {
//             document.getElementById('id02').style.display = 'none';
//             location.reload();
//         }
</script>
{% endblock script %}
        