{% extends 'admin_panel/base.html' %}


{% block title %}
    Lobby:Lobby History
{% endblock title %}
    
{% block beforescript %}
    
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Lobby History</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                
                {% if lb_hists %}
                
                <li class="breadcrumb-item"><a href="{% url 'lobbies' %}">Lobbies</a></li>
                <li class="breadcrumb-item active">Lobby History</li>
                {% else %}
                    
                <li class="breadcrumb-item"><a href="{% url 'players' %}">Players</a></li>
                <li class="breadcrumb-item active">Player Lobby History</li>
                {% endif %}
                    
            </ol>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive m-t-40 overflow-auto">
                    <table id="historytable" class="table table-responsive-md table-hover text-center" style="width: 100%;">
                        <thead>
                            <tr>
                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none">Lobby Id </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending" display="none"> Lobby Name </th>

                                <!-- <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Username </th> -->

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Winning Status </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Winning Price </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Powerups Used </th>

                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Total Amount Spend</th>

                                
                                {% if lb_hists %}
                                    
                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> Lobby Owner </th>
                                {% else %}
                                    
                                <th class="srt sorting_desc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" aria-sort="descending"> UserName </th>
                                {% endif %}
                                    
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for user_lobby in lobbies %}
                                <tr>
                                    <td>{{user_lobby.Lobby_Id}}</td>
                                    <td>{{user_lobby.Lobby_Name}}</td>
                                    <td>{{user_lobby.Winning_Status}}</td>
                                    <td>{{user_lobby.Winning_Price}}</td>
                                    <td>{{user_lobby.Powerups_used}}</td>
                                    <td>{{user_lobby.Total_Amount_Spend}}</td>
                                    
                                    {% if lb_hists %}
                                    
                                    <td>{{user_lobby.Lobby_Owner}}</td>
                                    {% else %}
                                    
                                    <td>{{user_lobby.User_Name}}</td>
                                    {% endif %}
                                        
                                </tr>
                            {% endfor %}
                                
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock beforescript %}
        
             

{% block script %}
    <script>
        $(document).ready(function(){
            $('#historytable').dataTable()
        })
    </script>
{% endblock script %}
<script>
    var webapi = api["api"];
    var historysession = window.localStorage.getItem('historysession');

    var jsonObjects = {
        "lobby_id": historysession
    }
    var dataa = JSON.stringify(jsonObjects);

    $.ajax({
        url: webapi + "lobby_history",
        type: "POST",
        contentType: 'application/json; charset=utf-8',
        headers: {
            "Authorization": "Bearer " + token
        }, 
        dataType: 'json',
        data: dataa,
        success: function(result) {
            $('#historytable').dataTable({
                dom: "lfrtip",
                paging: true,
                data: result.data,
                columnDefs: [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                columns: [{
                        data: "Lobby_History_Id"
                    },
                    {
                        data: "Lobby_Name"
                    },
                    {
                        data: "User_Name"
                    },
                    {
                        data: "User_Win_Status"
                    },
                    {
                        data: "Amount"
                    },
                   
                    {
                        data: "Lobby_Round"
                    },
                    {
                        data: "Total_Bet"
                    }
                ],
                select: true,
            });
        },
        error: function(xhr) {
            console.log(JSON.parse(xhr.statusText))
            let err = JSON.parse(xhr.statusText).error;

            if (xhr.status == 401) {
                window.location.href = "{% url 'logout' %}";
            }
            if(Array.isArray(err)){
                alert(JSON.parse(xhr.statusText)['error'].join("\n"))

            }else{
                alert(err)

            }
        }
    });
</script>
