<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href='{% static "admin_panel/assets/images/ludo_favcn.png" %}''>
    <title>Login: Ludo</title>

    <!-- page css -->
    <link href='{% static "admin_panel/dist/css/pages/login-register-lock.css" %}' rel="stylesheet">
    <!-- Custom CSS -->
    <link href='{% static "admin_panel/dist/css/style.min.css" %}' rel="stylesheet">

    <!-- ================ CSS CDN ========================== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>

<body class="skin-default card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register" style="background-image:url(/static/admin_panel/assets/images/background/ludo_Full.png);background-color:#00000090;background-blend-mode:overlay;">
            <div class="login-box card">
                
                
                <div class="card-body">
                    {% for message in messages %}
                        <h5 class='alert alert-{{ message.tags }}'>{{ message }}</h5>
                    {% endfor %}
                    <form class="form-horizontal form-material" id="loginform", method="POST" action='{% url "login" %}'>
                        {% csrf_token %}
                        <h3 class="box-title m-b-20">Sign In</h3>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" id="user_id" type="text" required="" name="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" id="password" type="password" required="" name='password' placeholder="Password">
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <div class="col-md-12">
                                <div class="d-flex no-block align-items-center">
                                    <label class="checkbox">
                                        <input type="checkbox" value="remember-me" id="remember_me"> Remember me</label>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info btn-rounded" id="login" type="submit">Log In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src='{% static "admin_panel/assets/node_modules/jquery/jquery-3.2.1.min.js" %}'></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src='{% static "admin_panel/assets/node_modules/bootstrap/dist/js/bootstrap.min.js" %}'></script>
    <!--Custom JavaScript -->
    <script src='{% static "admin_panel/CustomFiles/config.js" %}'></script>
    <script type="text/javascript">
        /*
        $(function() {
            $(".preloader").fadeOut();
            var webapi = 'http://192.168.0.244:2567/api/admin/adminlogin'
			
        	var dt = new Date();
			dt = dt.toString();
			var kt = dt.split(" ");
			kt = kt[4];
			lt = kt.split(":");
			lt1 = lt[0] * 3600 ;
			lt2 = lt[1] * 60;
			lt3 = lt[2];
			lt1 = parseInt(lt1);	
			lt2 = parseInt(lt2);
			lt3 = parseInt(lt3);
	
			ct = lt1 + lt2 + lt3;
        
        
            $("#login").click(function() {
                var username = $("#user_id").val();
                var password = $('#password').val();

                var dataobjects = {
                    "admin_name": username,
                    "admin_password": password
                }
                var dataa = JSON.stringify(dataobjects);

                if (username != "" && password != "") {
                    $.ajax({
                        url: 'http://192.168.0.244:2567/api/admin/adminlogin',
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: dataa,
                        success: function(result) {
                            if (result.message == "Incorrect Adminname or Password") {
                                alert("Please Enter Valid Id/Password");
                            } else {
                                var d = window.localStorage.setItem('userdata', JSON.stringify(result));
								var k = window.localStorage.setItem('logintime',ct);
                                window.location.href = "{% url 'home' %}";
                            }
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            alert("Please Enter Valid Id/Password");
                            location.reload();
                        }
                    });
                } else {
                    alert("Please Enter Username & Password");
                }
            });
        });
        $(function() {

            if (localStorage.chkbx && localStorage.chkbx != '') {
                $('#remember_me').attr('checked', 'checked');
                $('#user_id').val(localStorage.usrname);
                $('#password').val(localStorage.pass);
            } else {
                $('#remember_me').removeAttr('checked');
                $('#user_id').val('');
                $('#password').val('');
            }

            $('#remember_me').click(function() {

                if ($('#remember_me').is(':checked')) {
                    // save username and password
                    localStorage.usrname = $('#user_id').val();
                    localStorage.pass = $('#password').val();
                    localStorage.chkbx = $('#remember_me').val();

                } else {
                    localStorage.usrname = '';
                    localStorage.pass = '';
                    localStorage.chkbx = '';
                }
            });
        });

        function myfunction() {
            $('#remember_me').removeAttr('checked');
        }
        */
    </script>
</body>

</html>